<p id="notice"><%= notice %></p>

<p>
  <strong>Bookentrydetail titulo:</strong>
  <%= @book_entry_detail.bookentrydetail_titulo %>
</p>

<p>
  <strong>Bookentrydetail cantidad ejemplares:</strong>
  <%= @book_entry_detail.bookentrydetail_cantidad_ejemplares %>
</p>

<p>
  <strong>Bookentry:</strong>
  <%= @book_entry_detail.bookentry_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_entry_detail.book_id %>
</p>

<%= link_to 'Edit', edit_book_entry_detail_path(@book_entry_detail) %> |
<%= link_to 'Back', book_entry_details_path %>
