<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron boxformulario">
    <form class="form-horizontal">
      <div class="form-group">
        <%= f.label 'Isbn', class: "col-xs-3 control-label"  %>
        <div class="col-xs-9">
          <%= f.text_field :book_isbn,  class: "form-control", placeholder: "ISBN" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Título", class: "col-xs-3 control-label" %>
        <div class="col-xs-9">
          <%= f.text_field :book_titulo,  class: "form-control", placeholder: "Título" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Cantidad Ejemplares", class: "col-xs-3 control-label"  %>
        <div class="col-xs-9">
          <%= f.number_field :book_cantidad_ejemplares, class: "form-control", placeholder: "Cantidad Ejemplares"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Autor", class: "col-xs-3 control-label"%>
        <div class="col-xs-9">
          <%= f.text_field :book_autor, class: "form-control", placeholder: "Autor"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Serie", class: "col-xs-3 control-label" %>
        <div class="col-xs-9">
          <%= f.text_field :book_serie, class: "form-control", placeholder: "Serie" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Colección", class: "col-xs-3 control-label" %>
        <div class="col-xs-9">
          <%= f.text_field :book_coleccion, class: "form-control", placeholder: "Colección"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Cantidad de Páginas", class: "col-xs-3 control-label" %>
        <div class="col-xs-9">
          <%= f.number_field :book_paginas, class: "form-control", placeholder: "Cantidad de Páginas"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Año", class: "col-xs-3 control-label" %>
        <div class="col-xs-9">
          <%= f.number_field :book_ano, class: "form-control", placeholder: "Año Edición"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Encuadernación", class: "col-xs-3 control-label" %>
        <div class="col-xs-9">
          <%= f.text_field :book_encuadernacion, class: "form-control", placeholder: "Encuadernación"  %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Editorial", class: "col-xs-3 control-label"%>
        <div class="col-xs-9">
          <%= collection_select :book, :editorial_id, Editorial.order(:editorial_razon_social), :id, :editorial_razon_social, prompt: 'Seleccione Editorial' %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="actions">
          <%= f.submit class: "btn btn-primary btn-sm"%>
        </div>
      </div>
    <% end %>
    </form>
</div>